body {
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    font-family: 'Lora', serif;
}

.blog-nav {
    margin-bottom: 1em;
}

.blog-nav li {
    display: inline;
    list-style-type: none;
    padding-right: 2em;
}

.blog-nav ul, ul.post-list {
    padding-left: 0;
    margin: 0px;
}

.blog-nav ul {
    padding-left: 1em;
}

.blog-nav a {
    text-decoration: none;
}

@media print {
    .blog-header {
        display: none;
    }

    body {
        font-size: 16px;
        margin-top: auto;
    }
}

.post-content p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

h1.post-title {
    font-size: 3em;
    margin: 0px;
    margin-bottom: 0.5rem;
}

h3.post-subtitle {
    color: #666;
}

h1, h2, h3 {
    line-height:1.2;
    margin: 0px;
}

a {
    color: inherit;
}

.post-link {
    color: inherit;
    text-decoration: inherit;
}

.post-list {
    list-style: none;
}

.post-meta {
    color: #888;
}

.container-404 {
    text-align: center;
}

.container-404 h1 {
    font-size: 8em;
    margin: 0px;
}

.highlight {
    overflow: auto;
    max-width: 100%;
}

blockquote {
    border-left: 0.5em solid #c25151;
    padding-left: 0.5em;
}

blockquote > blockquote {
    margin-left: 0.1em;
}

.post img {
    max-width: 100%;
}

.highlight .lineno {
  color: #aaa;
  padding: 0 5px;
  border-right: 1px solid #ccc;
  text-align: right;
}

.highlight pre, .highlight code, code.highlighter-rouge {
    font-family: "Fira Code", "Fira Mono", Consolas, "Lucida Sans Typewriter", "Courier New", Monaco, monospace;
}

.highlight pre, .highlight code {
  font-size: 0.875em;
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

code.highlighter-rouge {
    font-size: 0.9em;
}

div.highlight, figure.highlight {
    background-color: #f4f4f4;
}

div.highlight {
    /* Add spacing above and below code blocks so that the background color isn't flush against the other content, especially headers. */
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlight pre {
    /* Add some spacing on the left of the code blocks, so that the code isn't directly against the edge of the background color. */
    margin-left: 1em;
}

/* Disable extra indentation of code blocks on mobile */
@media only screen and (max-width: 850px) {
    figure.highlight {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Disable left padding for line numbering */
.gutter.gl {
    padding-left: 0px;
}

.post-image {
    margin-left: 0px;
    margin-right: 0px;
}
